halaman_utama.json
[
{
"id": "a0c140685b637888",
"type": "tab",
"label": "main flow",
"disabled": false,
"info": "",
"env": []
},
{
"id": "59f95d85.b6f0b4",
"type": "mqtt in",
"z": "a0c140685b637888",
"name": "",
"topic": "sensor/DHT22/temperature_celsius",
"qos": "1",
"datatype": "auto",
"broker": "11015124b10755e4",
"nl": false,
"rap": false,
"inputs": 0,
"x": 380,
"y": 200,
"wires": [
[
"2babfd19.559212"
]
]
},
{
"id": "2babfd19.559212",
"type": "ui_gauge",
"z": "a0c140685b637888",
"name": "",
"group": "37de8fe8.46846",
"order": 2,
"width": 5,
"height": 4,
"gtype": "gage",
"title": "Temperature",
"label": "ºC",
"format": "{{value}}",
"min": 0,
"max": "40",
"colors": [
"#00b500",
"#f7df09",
"#ca3838"
],
"seg1": "",
"seg2": "",
"diff": false,
"className": "",
"x": 630,
"y": 200,
"wires": []
},
{
"id": "b9aa2398.37ca3",
"type": "mqtt in",
"z": "a0c140685b637888",
"name": "",
"topic": "sensor/DHT22/humidity",
"qos": "1",
"datatype": "auto",
"broker": "11015124b10755e4",
"nl": false,
"rap": false,
"inputs": 0,
"x": 340,
"y": 280,
"wires": [
[
"d0f75e86.1c9ae"
]
]
},
{
"id": "d0f75e86.1c9ae",
"type": "ui_gauge",
"z": "a0c140685b637888",
"name": "",
"group": "37de8fe8.46846",
"order": 11,
"width": 5,
"height": 4,
"gtype": "gage",
"title": "Humidity",
"label": "%",
"format": "{{value}}",
"min": "30",
"max": "100",
"colors": [
"#53a4e6",
"#1d78a9",
"#4e38c9"
],
"seg1": "",
"seg2": "",
"diff": false,
"className": "",
"x": 620,
"y": 280,
"wires": []
},
{
"id": "d5170d3b0282cf72",
"type": "mqtt in",
"z": "a0c140685b637888",
"name": "",
"topic": "sensor/microwave/motion",
"qos": "1",
"datatype": "auto-detect",
"broker": "394c31ef326a4cfc",
"nl": false,
"rap": false,
"inputs": 0,
"x": 350,
"y": 360,
"wires": [
[
"aa2618607ced374c",
"910d2e75ea8e77f2",
"5589c44ab33de733"
]
]
},
{
"id": "aa2618607ced374c",
"type": "ui_text",
"z": "a0c140685b637888",
"group": "3b9a7a2d8c588377",
"order": 9,
"width": 6,
"height": 1,
"name": "",
"label": "Movement",
"format": "{{msg.payload}}",
"layout": "row-spread",
"className": "",
"style": false,
"font": "",
"fontSize": 16,
"color": "#000000",
"x": 630,
"y": 360,
"wires": []
},
{
"id": "910d2e75ea8e77f2",
"type": "ui_led",
"z": "a0c140685b637888",
"order": 2,
"group": "3b9a7a2d8c588377",
"width": 4,
"height": 3,
"label": "",
"labelPlacement": "right",
"labelAlignment": "center",
"colorForValue": [
{
"color": "#ff0000",
"value": "Motion detected!",
"valueType": "str"
},
{
"color": "#000000",
"value": "no motion",
"valueType": "str"
}
],
"allowColorForValueInMessage": false,
"shape": "circle",
"showGlow": true,
"name": "",
"x": 630,
"y": 420,
"wires": []
},
{
"id": "5589c44ab33de733",
"type": "debug",
"z": "a0c140685b637888",
"name": "debug motion",
"active": true,
"tosidebar": true,
"console": false,
"tostatus": false,
"complete": "payload",
"targetType": "msg",
"statusVal": "",
"statusType": "auto",
"x": 660,
"y": 480,
"wires": []
},
{
"id": "4f6b700ee2459330",
"type": "inject",
"z": "a0c140685b637888",
"name": "",
"props": [
{
"p": "payload"
}
],
"repeat": "",
"crontab": "",
"once": false,
"onceDelay": 0.1,
"topic": "",
"payload": "{\"DATETIME\":1590714329,\"DEVICEID\":\"A1500001\",\"LATITUDE\":-6.121435,\"LONGITUDE\":106.774124,\"VALUE\":0.75}",
"payloadType": "json",
"x": 310,
"y": 580,
"wires": [
[
"57aec6f7372bf25a"
]
]
},
{
"id": "57aec6f7372bf25a",
"type": "mqtt out",
"z": "a0c140685b637888",
"name": "",
"topic": "/iot_data",
"qos": "",
"retain": "",
"respTopic": "",
"contentType": "",
"userProps": "",
"correl": "",
"expiry": "",
"broker": "11015124b10755e4",
"x": 620,
"y": 580,
"wires": []
},
{
"id": "1d2a17ea627a1090",
"type": "json",
"z": "a0c140685b637888",
"name": "",
"property": "payload",
"action": "",
"pretty": false,
"x": 470,
"y": 700,
"wires": [
[]
]
},
{
"id": "2e16c33b61fcf232",
"type": "function",
"z": "a0c140685b637888",
"name": "function 1",
"func": "msg.topic = \"INSERT INTO IOT_TRX_DATA (DATETIME, DEVICEID, LATITUDE,LONGITUDE, VALUE)\" + \n            \" VALUES(\" + \n            msg.payload.DATETIME + \",'\" +\n            msg.payload.DEVICEID + \"',\" + \n            msg.payload.LATITUDE + \",\" +\n            msg.payload.LONGITUDE + \",\" +\n            msg.payload.VALUE + \")\"\nreturn msg;\n",
"outputs": 1,
"timeout": 0,
"noerr": 0,
"initialize": "",
"finalize": "",
"libs": [],
"x": 640,
"y": 660,
"wires": [
[
"7b2413494b8495ee"
]
]
},
{
"id": "7b2413494b8495ee",
"type": "debug",
"z": "a0c140685b637888",
"name": "debug 1",
"active": true,
"tosidebar": true,
"console": false,
"tostatus": false,
"complete": "payload",
"targetType": "msg",
"statusVal": "",
"statusType": "auto",
"x": 820,
"y": 720,
"wires": []
},
{
"id": "7c544667d58b1d62",
"type": "mqtt in",
"z": "a0c140685b637888",
"name": "",
"topic": "/iot_data",
"qos": "0",
"datatype": "auto-detect",
"broker": "11015124b10755e4",
"nl": false,
"rap": true,
"rh": 0,
"inputs": 0,
"x": 300,
"y": 660,
"wires": [
[
"2e16c33b61fcf232"
]
]
},
{
"id": "004452556cefce53",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 1,
"width": 3,
"height": 1
},
{
"id": "5c5aa69f76564860",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 3,
"width": 1,
"height": 1
},
{
"id": "7266c021495b72a2",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 4,
"width": 3,
"height": 1
},
{
"id": "da8ab72583b59425",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 5,
"width": 1,
"height": 1
},
{
"id": "6e68c40a31d7abdd",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 6,
"width": 3,
"height": 1
},
{
"id": "ad0e7b24b888d7de",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 7,
"width": 1,
"height": 1
},
{
"id": "84bd136933024cad",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 8,
"width": 3,
"height": 1
},
{
"id": "9b143ba2c3a8a1a7",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "d4a93baac32ae9e4",
"order": 9,
"width": 1,
"height": 1
},
{
"id": "6ebb7dcfdba060bc",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 1,
"width": 2,
"height": 1
},
{
"id": "66e33131867da932",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 3,
"width": 2,
"height": 1
},
{
"id": "88eb2f23604bbb26",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 4,
"width": 2,
"height": 1
},
{
"id": "0055474d0b85edc3",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 5,
"width": 2,
"height": 1
},
{
"id": "fbe06e0229c5222d",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 6,
"width": 2,
"height": 1
},
{
"id": "d926ce7d90db2711",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 7,
"width": 2,
"height": 1
},
{
"id": "5352deb52e385650",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 8,
"width": 2,
"height": 1
},
{
"id": "3b8fe55024d4bd78",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 9,
"width": 2,
"height": 1
},
{
"id": "336b340f6356df07",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 10,
"width": 2,
"height": 1
},
{
"id": "9a4f54c60bee51c2",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 12,
"width": 2,
"height": 1
},
{
"id": "1872a21e65915bb8",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 13,
"width": 2,
"height": 1
},
{
"id": "fccf62d534c9e3e7",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 14,
"width": 2,
"height": 1
},
{
"id": "f5cebeeeb686e47c",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 15,
"width": 2,
"height": 1
},
{
"id": "b8d623f0cd90113b",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 16,
"width": 2,
"height": 1
},
{
"id": "0915563dfcfa1864",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 17,
"width": 2,
"height": 1
},
{
"id": "739ffa3ddd66b832",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "37de8fe8.46846",
"order": 18,
"width": 2,
"height": 1
},
{
"id": "d250ad7fbdfea71e",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 1,
"width": 3,
"height": 1
},
{
"id": "473ec2a8748de19e",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 3,
"width": 3,
"height": 1
},
{
"id": "eb0465374a241fb0",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 4,
"width": 3,
"height": 1
},
{
"id": "db5e629ea40d2b90",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 5,
"width": 3,
"height": 1
},
{
"id": "746ce7ca47b12793",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 6,
"width": 3,
"height": 1
},
{
"id": "a5da5825c82e9325",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 7,
"width": 3,
"height": 1
},
{
"id": "4b6eb209b1a42e22",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 8,
"width": 2,
"height": 1
},
{
"id": "858c10a71c668b34",
"type": "ui_spacer",
"z": "a0c140685b637888",
"name": "spacer",
"group": "3b9a7a2d8c588377",
"order": 10,
"width": 2,
"height": 1
},
{
"id": "11015124b10755e4",
"type": "mqtt-broker",
"name": "mosquitto ubuntu",
"broker": "192.168.0.108",
"port": "1883",
"clientid": "",
"autoConnect": true,
"usetls": false,
"protocolVersion": "4",
"keepalive": "60",
"cleansession": true,
"autoUnsubscribe": true,
"birthTopic": "",
"birthQos": "0",
"birthRetain": "false",
"birthPayload": "",
"birthMsg": {},
"closeTopic": "",
"closeQos": "0",
"closeRetain": "false",
"closePayload": "",
"closeMsg": {},
"willTopic": "",
"willQos": "0",
"willRetain": "false",
"willPayload": "",
"willMsg": {},
"userProps": "",
"sessionExpiry": ""
},
{
"id": "37de8fe8.46846",
"type": "ui_group",
"name": "Sensor DHT22 ",
"tab": "53b8c8f9.cfbe48",
"order": 1,
"disp": true,
"width": "9",
"collapse": false,
"className": ""
},
{
"id": "394c31ef326a4cfc",
"type": "mqtt-broker",
"name": "MQTT broker public",
"broker": "91.121.93.94",
"port": "1883",
"clientid": "",
"autoConnect": true,
"usetls": false,
"protocolVersion": "4",
"keepalive": "60",
"cleansession": true,
"autoUnsubscribe": true,
"birthTopic": "",
"birthQos": "0",
"birthRetain": "false",
"birthPayload": "",
"birthMsg": {},
"closeTopic": "",
"closeQos": "0",
"closeRetain": "false",
"closePayload": "",
"closeMsg": {},
"willTopic": "",
"willQos": "0",
"willRetain": "false",
"willPayload": "",
"willMsg": {},
"userProps": "",
"sessionExpiry": ""
},
{
"id": "3b9a7a2d8c588377",
"type": "ui_group",
"name": "Microwave sensor",
"tab": "53b8c8f9.cfbe48",
"order": 2,
"disp": true,
"width": "10",
"collapse": false,
"className": ""
},
{
"id": "53b8c8f9.cfbe48",
"type": "ui_tab",
"name": "Node 1 ",
"icon": "fa-fire'",
"order": 1,
"disabled": false,
"hidden": false
}
]
